body { background-color: #ffffff; color: #000000; }
body, button, input, select, textarea { font-family: 'Arial', sans-serif; }

a, .btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}