/* ����������� ��������� CSS ��� ����: Dark Theme */
            body {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
            }

            .navbar {
                background-color: #1f1f1f;
            }
            a {
                color: #66b2ff;
            }