/* ����������� ��������� CSS ��� ����: Light Theme */
            body {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
            }

            .navbar {
                background-color: #f8f9fa;
            }
            a {
                color: #007bff;
            }