/* Автоматично створений CSS для теми: secret */
        body {
            background-color: #ffffff;
            color: #000000;
            font-family: 'Monospace', sans-serif;
        }
        .navbar {
            background-color: #ffffff;
        }
        a {
            color: #000000;
        }