/* Автоматично створений CSS для теми: test */
        body {
            background-color: #d22828;
            color: #000000;
            font-family: 'Arial', sans-serif;
        }
        .navbar {
            background-color: #d22828;
        }
        a {
            color: #000000;
        }
        
            body {
                background-image: url('/media/themes/backgrounds/Знімок_екрана_2025-06-20_141306.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }