/* Автоматично створений CSS для теми: test (1) */
        body {
            background-color: #ffffff;
            color: #000000;
            font-family: 'Arial', sans-serif;
        }
        .navbar {
            background-color: #ffffff;
        }
        a {
            color: #000000;
        }