/* Автоматично створений CSS для теми: test2 */
        body {
            background-color: #ff0000;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
        }
        .navbar {
            background-color: #ff0000;
        }
        a {
            color: #ffffff;
        }
        
                body {
                    background: url('/media/themes/backgrounds/Знімок_екрана_2025-06-20_141306_ee8lM1q.png') 
                                center/cover no-repeat fixed;
                }