/* Автоматично створений CSS для теми: test */
        body {
            background-color: #471a1a;
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
        }
        .navbar {
            background-color: #471a1a;
        }
        a {
            color: #ffffff;
        }
        
            body {
                background-image: url('/media/themes/backgrounds/Знімок_екрана_2025-06-20_141306_KTggV4x.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }