body { background-color: #ffffff; }
body { background-image: url('/media/themes/backgrounds/«н≥мок_екрана_2025-06-20_141306_6G8ceFw.png'); background-size: cover; background-repeat: no-repeat; }
body, button, input, select, textarea { font-family: 'Arial', sans-serif; }
