/* Автоматично створений CSS для теми: test2 */
        body {
            background-color: #af1212;
            color: #000000;
            font-family: 'Montserrat', sans-serif;
        }
        .navbar {
            background-color: #af1212;
        }
        a {
            color: #000000;
        }