/* Автоматично створений CSS для теми: test */
        body {
            background-color: #bf3636;
            color: #ff0000;
            font-family: 'Arial', sans-serif;
        }
        .navbar {
            background-color: #bf3636;
        }
        a {
            color: #ff0000;
        }
        
            body {
                background-image: url('/media/themes/backgrounds/Знімок_екрана_2025-07-11_203242.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }