/* 🌞 Світла тема */
body {
  background-color: #ffffff;
  color: #212529;
}

.navbar, footer {
  background-color: #f8f9fa;
  color: #212529;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

a {
  color: #0d6efd;
}
a:hover {
  color: #0a58ca;
}
