{% extends 'base.html' %}

{% block content %}
<h2>{{ announcement.title }}</h2>
<p>{{ announcement.content }}</p>
<p class="text-muted">Автор: {{ announcement.author.username }} | {{ announcement.created_at|date:"d.m.Y H:i" }}</p>

{% if user.is_authenticated and request.user.is_staff %}
  <a href="{% url 'announcement_edit' announcement.pk %}" class="btn btn-warning"> Редагувати</a>
  <a href="{% url 'announcement_delete' announcement.pk %}" class="btn btn-danger"> Видалити</a>
{% endif %}
{% endblock %}
