{% extends 'base.html' %}

{% block content %}
<h2>Оголошення</h2>
<div class="list-group">
  {% for ann in announcements %}
    <a href="{% url 'announcement_detail' ann.pk %}" class="list-group-item list-group-item-action">
      <strong>{{ ann.title }}</strong>
      <small class="text-muted"> ({{ ann.created_at|date:"d.m.Y H:i" }})</small>
    </a>
  {% empty %}
    <p class="text-muted">Немає оголошень</p>
  {% endfor %}
</div>

{% if user.is_authenticated  and request.user.is_staff %}
  <a href="{% url 'announcement_create' %}" class="btn btn-success mt-3"> Створити оголошення</a>
{% endif %}
{% endblock %}


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">announcement</h5>
    <p class="card-text"> content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>