/* Dark Theme */
body {
  background-color: #121212;
  color: #f1f1f1;
}

/* Navbar + footer */
.navbar, footer {
  background-color: #1f1f1f !important;
  color: #f1f1f1 !important;
}

.navbar .nav-link,
footer p {
  color: #f1f1f1 !important;
}
