/* Light Theme */
body {
  background-color: #ffffff;
  color: #212529;
}

/* Navbar + footer */
.navbar, footer {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.navbar .nav-link,
footer p {
  color: #212529 !important;
}
