/* Автоматично згенерована тема: test2 */
    body {
        background-color: #ff0000;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
    }
    
            body {
                background: url('/media/themes/backgrounds/Знімок_екрана_2025-06-20_141306_ee8lM1q.png') center/cover no-repeat fixed;
            }