{% extends "base.html" %}

{% block content %}
<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>

<form method="post">
    {% csrf_token %}

    {% for question in questions %}
        <div class="question">
            <p><b>{{ forloop.counter }}. {{ question.text }}</b></p>

            {% if question.options.all %}
                {% for option in question.options.all %}
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                        {{ option.text }}
                    </label><br>
                {% endfor %}
            {% else %}
                <textarea name="text_{{ question.id }}" rows="3" cols="40"></textarea>
            {% endif %}
        </div>
        <hr>
    {% endfor %}

    <button type="submit">Відправити</button>
</form>
{% endblock %}
