{% extends "base.html" %}

{% block title %}Видалення теми{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card shadow-lg border-0">
    <div class="card-body text-center">
      <h3 class="mb-3 text-danger">
        <i class="bi bi-exclamation-triangle-fill"></i> Ви впевнені, що хочете видалити тему?
      </h3>
      <p class="fs-5">
        <strong class="text-warning">{{ object.name }}</strong>
      </p>

      <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center gap-3 mt-4">
          <a href="{% url 'themes:theme_list' %}" class="btn btn-secondary">
              <i class="bi bi-arrow-left"></i> Скасувати
          </a>
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Видалити
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
