<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <div class="container-fluid">

          <a class="nav-link" href="{% url 'forum:home' %}">Головна</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрити"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">                
                <li class="nav-item">
                  <p>{{ user.username }}</p>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'forum:categories' %}">Категорії</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Про форум</a>
                </li>



                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Вийти</button>
              </form>
              {% else %}
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit">Увійти</button>
            </form>

            <form action="{% url 'register' %}" method="post">
              {% csrf_token %}
              <button type="submit">Зарейструватися</button>
          </form>
          {% endif %}             

               {% comment %} {% if user.is_authenticated %}
                <li class="nav-item">
                  {% csrf_token %}
                  <a class="nav-link text-danger" href="{% url 'logout' %}">Вийти</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Реєстрація</a>
                </li>
                {% endif %}   {% endcomment %}
              </ul></div>


              
            </div>
          </div>
        </div>
      </nav>
      
</body>
</html>
