{% extends 'base.html' %}
{% block content %}
<h2>Пости у треді {{ thread_id }} (категорія {{ category_id }})</h2>
<ul>
    {% for post in posts %}
        <li>
            <b>{{ post.author }}</b>: {{ post.content_text }}
        </li>
    {% empty %}
        <li>Поки немає постів</li>
    {% endfor %}
</ul>

<h3>доадати пост</h3>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-sucess" > зберегти коментар</button>
</form>
{% endblock content %}