{% include 'base.html' %}
{% block content %}
{% comment %} <a href="{% url 'forum:thread-create-delete' category_id=category_id pk=thread.pk %}">Видалити</a> {% endcomment %}
{% comment %} 
<a class = "btn btn-warning justify-content-between align-items-center bi-trash" href="{% url 'forum:thread-create-delete' category_id=category_id pk=thread.pk%}">видалити</a> {% endcomment %}
{% comment %} <a class = "btn btn-secondary justify-content-between align-items-center" href="{% url "forum:post-list-update" category_id=category_id thread_id=thread_id pk=post.pk%}">редагувати </a> {% endcomment %}

    <p>thread create</p>
    
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-sucess"> зберегти коментар</button>
        </form>

{% endblock content %}